@font-face {
    font-family: hack_regular;
    src: url(./fonts/hack/Hack-Regular.ttf);
}

@font-face {
    font-family: hack_bold;
    src: url(./fonts/hack/Hack-Bold.ttf);
}

*{
    font-family: hack_regular;
}

body{
	padding: 0px;
	margin:0px;
}

#main {
  //overflow: hidden;
  background-color: black;
  color: white;
  padding: 0px;
  height: auto;
}

#header {
	height: 5%;
	width: 100%;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 0px;
}

#hamburger {
	height: 100%;
	width: 5%;
	float: right;
	background-image: url('./assets/hamburger_icon.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#disc {
  background-color:black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
	position: absolute;
	right :0px;
	top: 5%;
	height: 95%;
	width: 0%;
	transition: width 0.5s;
	overflow: hidden;
	border-left: 1px solid gray;
}

.menu_item {
	position: relative;
	padding: 5px 0px 5px 10px;
	width: 100%;
	height: auto;
}

.child_div {
	position: relative;
	overflow: scroll;
	height: 0px;
	padding-left: 10px;
	transition: height 0.5s;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
